@font-face {
    font-family: soriaFont;
    src: url(soria-font-webfont.woff);
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
    box-sizing: border-box;
}

h1{
    font-family: soriaFont;
    text-align: center;
}

p{
    font-size: 1.1rem;
}

.cited{
    margin-left: 2rem;
    text-indent: -2rem;
}

div{
    border-radius: 3vw;
    border-width: 3%;
    margin: 1%;
    padding: 2%;
}

.flexbox{
    display: flex;
    flex-direction: row;
    border-width: 0%;
    gap:0%;
}

.flexbox, #Div2{
    margin: 0%;
    padding: 0%;
}

#Div2, #Div3{
    margin-bottom:2%;
}

#Div4{
    border-color: #E0D36D;
    background-color: #E0D36D;
}

img{
    width:100%;
    height:auto;
}

#ancIMG{
    max-height:20rem;
    max-width:80%;
    width:auto;
}

#canary{
    min-width:20rem;
    border-color:#ffffff;
    border-style:solid;
    background-color: #ffffff;
}

.info{
    border-color: #C8CBA4;
    background-color: #C8CBA4;
    border-style: solid;
}

#ex1{
    border-style:solid;
    border-color:#D699CD;
    background-color: #D699CD;
}

#ex2{
    border-style:solid;
    border-color:#E0D36D;
    background-color:#E0D36D;
}

#ex3{
    border-style:solid;
    border-color:#95B2DA;
    background-color:#95B2DA;
}

#funFact{
    border-style:double;
    border-width: 1rem;
    background-color: #E0D36D;
    border-color:#ffffff;
}

#proFlex{
    align-items:flex-start;
}

#prototaxPNG{
    width: 30%;
    min-width:20rem;
    height:auto;
}

#canaryD{
    gap: 4%;
}

#nxtBut{
    display:block;
    margin:auto;
    font-size: 1rem;
}

#nextButtonD, #citationLink{
    display: block;
    text-align: center;
    font-size: 1.3rem;
    padding:0%
}
